@import url(./styles/components.css);
@import url(./styles/colors.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight:800;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
}




html, body {
  font-family: 'Poppins';
  font-weight: 400;
}